<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="level_cam" value="base_l2_s1"/>

    <!--  //////////////////////// ASTRA_S CAM ///////////////////////////// -->
    <xacro:if value="${camera == 'astra_s'}">
        <!-- Link Astra S -->
        <link name="astra">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 ${pi_2}"/>
            <geometry>
            <mesh filename="package://orion_description/meshes/astra_s.stl"
                scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="SoftBlack"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 ${pi_2}"/>
            <geometry>
            <mesh filename="package://orion_description/meshes/astra_s.stl" 
                scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 ${pi_2}"/>
            <mass value="0.1"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                    iyy="0.001" iyz="0.0"
                    izz="0.001"/>
        </inertial>
        </link>

        <!-- Joint Astra S -->
        <joint name="astra_joint" type="fixed">
            <parent link="${level_cam}"/>
            <child link="astra"/>
            <origin xyz="0.023 0 0.0325" rpy="0 0 0"/>
        </joint>
    </xacro:if>
    <!--  //////////////////////// OS30A CAM ///////////////////////////// -->
    <xacro:if value="${camera == 'os30a'}">
        <!-- Link OS30A Support -->
        <link name="os30a_sup">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 ${pi_2}"/>
            <geometry>
            <mesh filename="package://orion_description/meshes/os30a_sup.stl"
                scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="SoftBlack"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 ${pi_2}"/>
            <geometry>
            <mesh filename="package://orion_description/meshes/os30a_sup.stl" 
                scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 ${pi_2}"/>
            <mass value="0.1"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                    iyy="0.001" iyz="0.0"
                    izz="0.001"/>
        </inertial>
        </link>

        <!-- Joint OS30A Support -->
        <joint name="os30a_sup_joint" type="fixed">
            <parent link="${level_cam}"/>
            <child link="os30a_sup"/>
            <origin xyz="${0.0555 - 0.0285} 0 0.0025" rpy="0 0 0"/>
        </joint>

        <!-- Link OS30A Support -->
        <link name="os30a">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 ${pi_2}"/>
            <geometry>
            <mesh filename="package://orion_description/meshes/os30a.stl"
                scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="MetalGray"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 ${pi_2}"/>
            <geometry>
            <mesh filename="package://orion_description/meshes/os30a.stl" 
                scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 ${pi_2}"/>
            <mass value="0.1"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                    iyy="0.001" iyz="0.0"
                    izz="0.001"/>
        </inertial>
        </link>

        <!-- Joint OS30A Support -->
        <joint name="os30a_joint" type="fixed">
            <parent link="os30a_sup"/>
            <child link="os30a"/>
            <origin xyz="0.025 0 0.0145" rpy="0 0 0"/>
        </joint>
    </xacro:if>

    <!--  //////////////////////// A010 CAM ///////////////////////////// -->
    <xacro:if value="${camera == 'a010'}">
        <!-- Link Maixsense Support -->
        <link name="maixsense_sup">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 ${pi_2}"/>
            <geometry>
            <mesh filename="package://orion_description/meshes/maixsense_sup.stl"
                scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="SoftBlack"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 ${pi_2}"/>
            <geometry>
            <mesh filename="package://orion_description/meshes/maixsense_sup.stl" 
                scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 ${pi_2}"/>
            <mass value="0.1"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                    iyy="0.001" iyz="0.0"
                    izz="0.001"/>
        </inertial>
        </link>

        <!-- Joint Maixsense Support -->
        <joint name="maixsense_sup_joint" type="fixed">
            <parent link="${level_cam}"/>
            <child link="maixsense_sup"/>
            <origin xyz="0.038945 -0.030451 0.0125" rpy="0 0 0"/>
        </joint>

        <!-- Link Maixsense -->
        <link name="maixsense">
        <visual>
            <origin xyz="0 0 0" rpy="${pi_2} 0 ${pi_2}"/>
            <geometry>
            <mesh filename="package://orion_description/meshes/maixsense.stl"
                scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="SoftBlack"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="${pi_2} 0 ${pi_2}"/>
            <geometry>
            <mesh filename="package://orion_description/meshes/maixsense.stl" 
                scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="${pi_2} 0 ${pi_2}"/>
            <mass value="0.1"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                    iyy="0.001" iyz="0.0"
                    izz="0.001"/>
        </inertial>
        </link>

        <!-- Joint Maixsense -->
        <joint name="maixsense_joint" type="fixed">
            <parent link="maixsense_sup"/>
            <child link="maixsense"/>
            <origin xyz="0 0 0.0205" rpy="0 0 0"/>
        </joint>
    </xacro:if>
</robot>