<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- This xacro file aims for defining materials and color properties for the URDF-->

    <!-- Equivalent to RGB(0, 79, 148) -->
    <material name="ArduinoBlue">
        <color rgba="0.0 0.31 0.58 1.0"/>  
    </material>

    <!-- Equivalent to RGB(26, 127, 26) -->
    <material name="RaspberryGreen">
        <color rgba="0.1 0.5 0.1 1.0"/>  
    </material>

    <!-- Equivalent to RGB(179, 26, 26) -->
    <material name="DriverRed">
        <color rgba="0.7 0.1 0.1 1.0"/>  
    </material>

    <!-- Equivalent to RGB(26, 26, 26) -->
    <material name="SoftBlack">
        <color rgba="0.1 0.1 0.1 1.0"/>  
    </material>

    <!-- Equivalent to RGB(255, 255, 255) -->
    <material name="PureWhite">
        <color rgba="1.0 1.0 1.0 1.0"/>  
    </material>

    <!-- Equivalent to RGB(181, 165, 66) -->
    <material name="Brass">
        <color rgba="0.71 0.65 0.26 1.0"/>  
    </material>

    <!-- Equivalent to RGB(128, 128, 128) -->
    <material name="MetalGray">
        <color rgba="0.5 0.5 0.5 1.0"/>  
    </material>

</robot>
