<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- This xacro file aims for adding the arms to the robot-->
    <xacro:if value="${servo}">
        <xacro:macro name="simple_arm" params="x y z parent side">
            <!-- Link Spacer -->
            <link name="simple_arm_${side}">
            <visual>
                <origin xyz="0 0 0" rpy="${-pi_2} 0 0"/>
                <geometry>
                <mesh filename="package://orion_description/meshes/simple_arm.stl" 
                    scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="PLAWhite"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="${-pi_2} 0 0"/>
                <geometry>
                <mesh filename="package://orion_description/meshes/simple_arm.stl" 
                    scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0.0 0.0 0.0" rpy="${-pi_2} 0.0 0.0"/>
                <mass value="1"/>
                <inertia ixx="8.550666163126637e-09" ixy="0" ixz="0"
                        iyy="8.960721799390997e-09" iyz="0"
                        izz="4.443388969597693e-09"/>
            </inertial>
            </link>
            <!-- Joint Spacer -->
            <joint name="simple_arm_${side}_joint" type="fixed">
                <parent link="${parent}"/>
                <child link="simple_arm_${side}"/>
                <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
            </joint>
            <!-- Gazebo Spacer -->
            <xacro:if value="${gazebo}">
                <gazebo reference="simple_arm_${side}">
                    <mu1>1.0</mu1>
                    <mu2>1.0</mu2>
                </gazebo>
            </xacro:if>
        </xacro:macro>

        <xacro:simple_arm x="0" y="0" z="0.003" parent="servo_conn_1" side="1"/>
        <xacro:simple_arm x="0" y="0" z="0.003" parent="servo_conn_2" side="2"/>

    </xacro:if>
</robot>