<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="motor" value="100"/>
    <xacro:if value="${ros2_control}">
        <xacro:if value="${ctl_type == 'micro_ros'}">
            <ros2_control name="DiffRealRobot" type="system">
                <hardware>
                    <plugin>orion_control/DiffDriveOrion</plugin>
                    <param name="left_wheel_name">coupling_11_joint</param>
                    <param name="right_wheel_name">coupling_12_joint</param>
                    <xacro:if value="${motor == 1000}">
                        <param name="enc_ticks_per_rev">204</param>
                    </xacro:if>
                    <xacro:if value="${motor == 100}">
                        <param name="enc_ticks_per_rev">1250</param>
                    </xacro:if>
                </hardware>
                <joint name="coupling_11_joint">
                    <command_interface name="velocity">
                    <param name="min">-2.791666667</param>
                    <param name="max">2.791666667</param>
                    </command_interface>
                    <state_interface name="velocity"/>
                    <state_interface name="position"/>
                </joint>
                <joint name="coupling_12_joint">
                    <command_interface name="velocity">
                    <param name="min">-2.791666667</param>
                    <param name="max">2.791666667</param>
                    </command_interface>
                    <state_interface name="velocity"/>
                    <state_interface name="position"/>
                </joint>
            </ros2_control>

            <xacro:if value="${servo}">
                <ros2_control name="FwdLeftRealRobot" type="system">
                    <hardware>
                        <plugin>orion_control/ForwardOrion</plugin>
                        <param name="feedback_topic">fwd_servo_left_feedback</param>
                        <param name="cmd_topic">fwd_servo_left_cmd</param>
                        <param name="servo_name">servo_conn1_joint</param>
                    </hardware>
                    <joint name="servo_conn1_joint">
                        <command_interface name="position" />
                        <state_interface name="position" />
                    </joint>
                </ros2_control>
                <ros2_control name="FwdRightRealRobot" type="system">
                    <hardware>
                        <plugin>orion_control/ForwardOrion</plugin>
                        <param name="feedback_topic">fwd_servo_right_feedback</param>
                        <param name="cmd_topic">fwd_servo_right_cmd</param>
                        <param name="servo_name">servo_conn2_joint</param>
                    </hardware>
                    <joint name="servo_conn2_joint">
                        <command_interface name="position" />
                        <state_interface name="position" />
                    </joint>
                </ros2_control>
            </xacro:if>
        </xacro:if>
    </xacro:if>
</robot>
